# Data Challenge - Banco Carrefour

#### PARTE 1/2 - EXTRAIR TRENDING TOPICS DE 4 PAÍSES (BRASIL, PORTUGAL, FRANÇA E ESTADOS UNIDOS)

 ##### DIGITAL INNOVATION ONE -  Eduardo Vieira 09/2021

### Importando as bibliotecas que serão usadas no desenvolvimento

In [236]:
import tweepy
import pandas as pd
import pymongo
from pymongo import MongoClientient
import numpy as np
from datetime import datetime

### Importando as credenciais para usar na API do TWITTER

In [70]:
from secrets import CONSUMER_KEY, CONSUMER_SECRET, ACCESS_TOKEN_KEY, ACCESS_TOKEN_SECRET

### Configurando a API do Twitter

In [6]:
# auth = tweepy.OauthHandler(consumer_key=CONSUMER_KEY, consumer_secret=CONSUMER_SECRET)
auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(ACCESS_TOKEN_KEY, ACCESS_TOKEN_SECRET)

api = tweepy.API(auth)

### Dicionário com os códigos WOE ID de Brasil, Portugal, França e Estados Unidos.

In [72]:
woe_id_countries = {'Brasil':23424768,'Portugal':23424925,'França':23424819,'EUA':23424977}

### Executando a Pesquisa dos Trendings do Twitter e colocando o resultado em Dataframe

In [ ]:
trends_all_countries = []

for country, woeid in woe_id_countries.items():
    trends = api.trends_place(woeid)
    list_of_dict = trends[0]['trends']
    
    for line in list_of_dict:
        line['country'] = country
        line['date_time'] = datetime.today()
        trends_all_countries.append(line)

df = pd.DataFrame(trends_all_countries)

In [87]:
df.head(2)

,name,url,promoted_content,query,tweet_volume,country,date_time
0,Renê,http://twitter.com/search?q=Ren%C3%AA,NaN,Ren%C3%AA,95510.0,Brasil,2021-09-26 15:31:46.207822
1,#TheVoiceKids,http://twitter.com/search?q=%23TheVoiceKids,NaN,%23TheVoiceKids,NaN,Brasil,2021-09-26 15:31:46.207822

### Salvando o Dataframe tipo "RAW" no MongoDB Online (FREE)

#### Conexão

In [64]:
uri = "mongodb+srv://dbuser_eduardo:dio_desafio_753@cluster0.kwbae.mongodb.net/myFirstDatabase?retryWrites=true&w=majority"
client = pymongo.MongoClient(uri)

#### Crianção do DB e da Coleção "Trends"

In [65]:
db = client["TWITTER"]
collection = db["Trends"]

#### Inserindo os dados

In [66]:
data = df
data.reset_index(inplace=True)
data_dict = data.to_dict("records")
# Insert collection
collection.insert_many(data_dict)

#### Lendo os dados do MongoDB Online para conferir

In [233]:
df1 = pd.DataFrame(list(collection.find()))
backup = df1

In [234]:
df1.head(2)

,_id,index,name,url,promoted_content,query,tweet_volume,country,date_time
0,6150d24dd63b0112bfb7034e,0,Renê,http://twitter.com/search?q=Ren%C3%AA,NaN,Ren%C3%AA,95510.0,Brasil,2021-09-26 15:31:46.207822
1,6150d24dd63b0112bfb7034f,1,#TheVoiceKids,http://twitter.com/search?q=%23TheVoiceKids,NaN,%23TheVoiceKids,NaN,Brasil,2021-09-26 15:31:46.207822

#### ---------- Fim do Notebook ----------